<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CheckLoginServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CheckLogin</display-name>
    <servlet-name>CheckLogin</servlet-name>
    <servlet-class>CheckLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLogin</servlet-name>
    <url-pattern>/CheckLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet1</display-name>
    <servlet-name>WelcomeServlet1</servlet-name>
    <servlet-class>WelcomeServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet1</servlet-name>
    <url-pattern>/WelcomeServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SorryServlet</display-name>
    <servlet-name>SorryServlet</servlet-name>
    <servlet-class>SorryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SorryServlet</servlet-name>
    <url-pattern>/SorryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentView</display-name>
    <servlet-name>StudentView</servlet-name>
    <servlet-class>StudentView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentView</servlet-name>
    <url-pattern>/StudentView</url-pattern>
  </servlet-mapping>
</web-app>